@model IEnumerable<Inmobiliaria.Models.Propietario>

@{
    ViewData["Title"] = "Index";
}

    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <h4 class="text-center mt-3">Listado de Propietarios</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Apellido)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mail)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Telefono)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Apellido)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mail)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Telefono)
                                </td>
                                <td>
                                    @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Detalles", "Details", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Borrar", "Delete", new { /* id=item.PrimaryKey */ })
                                </td>
                            </tr>
                   
                          }
                     </tbody>
                </table>
            </div>
        </div>
    </div>